{% extends "frame/base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" />
<div class="row">
	<div class="col-xs-12">
		<div>
			<table id="otrequest-list-table" lay-filter="test"></table>
		</div>
	</div>
</div>
{% endblock %}

{% block jsscript%}
<script type="text/javascript" src="{% static 'common/js/csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>

<script type="text/html" id="barOper">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript">
	jQuery(function($) {
        layui.use(['table'], function(){
            var table = layui.table;
    
            table.render({
                elem: '#otrequest-list-table', 
                method: 'post',
                url: "{% url 'otrest:list_otrequest' %}", //数据接口
                height: '420',
                page: true, //开启分页
                limit: 10,
                cols: [[ //表头
                    {type:'numbers', title: '序号', width: 100, align:'center'},
                    {field: 'ottime', title: '加班日期', width: 150, align:'center', sort: true},
                    {field: 'reason', title: '加班原因', align:'center', sort: true},
                    {field: 'approve', title: '审批状态', width: 150, align:'center', sort: true,
                        templet: function(d){
                            if (d.approve) {
                                return '已审批';
                            }
                            else{
                                return '未审批';
                            }
                        }
                    },
                    {field: 'isCommit', title: '凭证提交', width: 150, align:'center',
                        templet: function(d){
                            var str = '';
                            if (d.approve){
                                if (d.isCommit){
                                    str = '已提交';
                                }
                                else{
                                    str = "<a href=\"#\" onclick=\"upload_cert_layer('" + d.commitUrl + d.id + "')\">凭证提交</a>";
                                }
                            }
                            return str;
                        }
                    },
                    {field: 'created', title: '操作时间', width: 200, align:'center', sort: true},
                    {title: '操作', toolbar: '#barOper', align:'center', width:150}
                ]]
            });  
        });
    });

    /// BEGIN: Add by SGL 上传凭证
    function upload_cert_layer(url){
        layui.use("layer", function(){
            var layer = layui.layer;
            layer.open({
            	title:"上传凭证",	
            	area: ['650px','460px'],
            	type: 2,
                maxmin: true,
            	content: url
            });
        });
    }
    /// END: Add by SGL 上传凭证

</script>


{% endblock %}
