{% extends "frame/base.html" %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" />
<div class="row">
	<div class="col-xs-12">
		<div>
			<table id="otrecord-list-table" lay-filter="test"></table>
		</div>
	</div>
</div>
{% endblock %}

{% block jsscript%}
<script type="text/javascript" src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>

<script type="text/html" id="barOper">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript">
	jQuery(function($) {
        layui.use(['table'], function(){
            var table = layui.table;
    
            table.render({
                elem: '#otrecord-list-table', 
                method: 'post',
                url: "{% url 'otrest:list_otrecord' %}", //数据接口
                height: '420',
                page: true, //开启分页
                limit: 10,
                cols: [[ //表头
                    {type:'numbers', title: '序号', width: 100, align:'center'},
                    //{field: 'id', title: 'ID', width: 70, sort: true, fixed: 'left', align: 'center'},
                    {field: 'startTime', title: '开始时间', align:'center', sort: true},
                    {field: 'endTime', title: '结束时间', align:'center', sort: true},
                    {field: 'otHours', title: '加班时长', align:'center', sort: true},
                    {field: 'certPic', title: '凭证', align:'center'},
                    {field: 'isConfirm', title: '确认', align:'center'},
                    {field: 'created', title: '操作时间', width: 200, align:'center', sort: true},
                    {title: '操作', toolbar: '#barOper', align:'center', width:150}
                ]]
            });  
        });

        /// BEGIN: Add by SGL 删除操作
        var onDelete = function(){
            var r = confirm("确定要删除?");
            if (!r){
                return false;
            }

            $.post(this.href, function(data){
                if (data.result == "ok"){
                    window.location.reload();
                }else {
                    alert ("删除失败.");
                }
            }).fail(function(){
                alert("删除出错.");
            });

            return false;
        }
        
        /// END: Add by SGL 删除操作
	});

    /// BEGIN: Add by SGL 编辑加班申请
    function detail_otrecord_layer(url){
        layui.use("layer", function(){
            var layer = layui.layer;
	        layer.open({
	        	title:"修改加班申请",	
	        	area: ['650px','450px'],
	        	type: 2,
                maxmin: true,
	        	content: url
	        });
        });
    }
    /// END: Add by SGL 编辑加班申请

</script>
{% endblock %}
