{% extends "account/base.html" %}
{% load i18n %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
	<div class="position-relative">
		<div id="forgot-box" class="forgot-box widget-box no-border visible">
			<div class="widget-body">
				<div class="toolbar center">
					<span class="back-to-login-link">
						prompt Info
					</span>
				</div>
			
				<div class="widget-main">
					<h4 class="header red lighter bigger">
						<i class="ace-icon fa fa-lock"></i>
                        {{ title }}
					</h4>

					<div class="space-6"></div>
                    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                    <p class="center"><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
				</div><!-- /.widget-main -->

			</div><!-- /.widget-body -->
		</div><!-- /.forgot-box -->
	</div><!-- /.position-relative -->
</div>
{% endblock %}
