{% extends "account/base.html" %}
{% load i18n %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
	<div class="position-relative">
		<div id="forgot-box" class="forgot-box widget-box no-border visible">
			<div class="widget-body">
				<div class="toolbar center">
					<span class="back-to-login-link">
						prompt Info
					</span>
				</div>
			
				<div class="widget-main">
					<h4 class="header red lighter bigger">
						<i class="ace-icon fa fa-envelope"></i>
                        {{ title }}
					</h4>

					<div class="space-6"></div>
					<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
					<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
				</div><!-- /.widget-main -->

			</div><!-- /.widget-body -->
		</div><!-- /.forgot-box -->
	</div><!-- /.position-relative -->
</div>
{% endblock %}
