{% extends "account/base.html" %}
{% load i18n %}
{% block content %}
<div class="login-container">
	<div class="position-relative">
		<div id="login-box" class="login-box visible widget-box no-border">
			<div class="widget-body">
				<div class="widget-main">
					<h4 class="header blue lighter bigger">
						<i class="ace-icon fa fa-coffee green"></i>
						{% trans "Please Enter Your Password" %}
					</h4>

					<div class="space-6"></div>

					<form method="post" >{% csrf_token %}
						<fieldset>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input name="new_password1" type="password" class="form-control" placeholder="{% trans 'New password' %}" />
									<i class="ace-icon fa fa-user"></i>
								</span>
							</label>

							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input name="new_password2" type="password" class="form-control" placeholder="{% trans 'Confirm password'  %}"/>
									<i class="ace-icon fa fa-lock"></i>
								</span>
							</label>

							<div class="space"></div>

							<div class="clearfix">
							    <label class="block clearfix pull-left">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password2.errors }}
							    </label>
								<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
									<i class="ace-icon fa fa-key"></i>
									<span class="bigger-110">{% trans 'Confirm' %}</span>
								</button>
							</div>
							<div class="space-4"></div>
						</fieldset>
					</form>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div><!-- /.login-box -->
	</div><!-- /.position-relative -->
</div>
{% endblock %}
